
.input {
    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #14171a;
    display: block;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    padding: 8px 32px 8px 12px;
    transition: all .2s ease-in-out;
    width: 100%;
    margin-bottom: 10px;
}

.button {
    background-color: #5e698c;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 21px;
    width: 100%;
    margin-bottom: 10px;
}

button:disabled {
    background-color: #b9bfd0;
}

button:focus {
    background-color: #294ec3;
}

.inputsection {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}